.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
.yarn/cache
#.pnp.*
node_modules
packages/core/icons
packages/core/build

packages/vue-icons/*
!packages/vue-icons/package.json
!packages/vue-icons/LICENSE
!packages/vue-icons/README.md

packages/vue-icons_all-files/*
!packages/vue-icons_all-files/package.json
!packages/vue-icons_all-files/LICENSE
!packages/vue-icons_all-files/README.md


packages/vue-icons_sfc/*
!packages/vue-icons_sfc/package.json
!packages/vue-icons_sfc/LICENSE
!packages/vue-icons_sfc/README.md

