.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
.yarn/cache
#.pnp.*
node_modules
packages/core/icons
packages/core/build

packages/vue-icons/icons
packages/vue-icons/lib
packages/vue-icons/*.js
packages/vue-icons/*.d.ts
packages/vue-icons/*.mjs

packages/vue-icons_all-files/icons
packages/vue-icons_all-files/lib
packages/vue-icons_all-files/*.js
packages/vue-icons_all-files/*.d.ts
packages/vue-icons_all-files/*.mjs

docs


