:root {
  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
  --color-brand: #e91e63;
  --color-link: #1971c2;
  --color-brand-rgb: 233, 30, 99;
  --color-black: #172b4d;
  --color-white: #ffffff;
  --color-gray-0: #fbfbfb;
  --color-gray-1: #f4f5f7;
  --color-gray-2: #eaecef;
  --color-gray-3: #cbcdd4;
  --color-gray-4: #808289;
  --sidebar-width: 18rem;
  --border-radius-md: 6px;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--color-black);
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  line-height: 1.1;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: var(--space-2);
  padding-top: var(--space-1);
} 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

code, kbd, pre, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

