:root {
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
  --color-light: #ca8a04;
  --color-brand: #e91e63;
  --color-link: #1971c2;
  --color-brand-rgb: 233, 30, 99;
  --color-black: #172b4d;
  --color-white: #ffffff;
  --color-white-1: #ffffff;
  --color-gray-0: #fbfbfb;
  --color-gray-1: #f4f5f7;
  --color-gray-2: #eaecef;
  --color-gray-3: #cbcdd4;
  --color-gray-4: #808289;
  --color-gray-5: #f4f5f7;
  --sidebar-width: 18rem;
  --border-radius-md: 6px;
  line-height: 1.5;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  --color-black: #a3b1c7;
  --color-gray-1: #111827;
  --color-gray-2: #282c34;
  --color-gray-3: #282c34;
  --color-gray-5: #374151;
  --color-white: #111827;
  --color-white-1: #282c34;
  --color-light: #a855f7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-gray-1: red;
    --color-white: red;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  color: var(--color-black);
  margin: 0;
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.1;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: var(--space-2);
  padding-top: var(--space-1);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    Liberation Mono, Courier New, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

.m-r-8 {
  margin-right: 8px;
}
.m-t-16 {
  margin-top: 1rem;
}

.icon-button {
  cursor: pointer;
  color: var(--color-light);
  width: 36px;
  height: 36px;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--color-gray-5);
  transition: border-color 0.25s;
}

.icon-loading {
  animation: loadingCircle 1s linear infinite;
}
@keyframes loadingCircle {
  100% {
    transform: rotate(1turn);
  }
}
.main {
  background-color: var(--color-white);
}
.main-scroll {
  height: calc(100vh - 0px);
  overflow-y: auto;
}
.main-header {
  padding: 2rem 2rem 0;
}
.main-header__content {
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--color-gray-2);
}
.extra {
  display: flex;
  justify-content: space-between;
}
.main-title {
  padding: 0;
  margin-bottom: 0;
  font-size: 2.2rem;
}
.main-content {
  padding: 0 var(--space-3);
}
